@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
 body {
  padding: 0;
  margin: 0;
  background-color: #F1F1E9 !important;
  
}
.galerija{
  margin: 10px 50px;
}
.galerija img{
  transition: 1s;
  padding: 15px;
  width: 200px;
  filter: grayscale(100%);
}
.galerija img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
  
}
.nav-item{
  padding-right: 20px !important;
  font-size: 20px;
}
#navbarNav{
  text-align: center;
}
#headerCSS{
  background-color: #F8CE46 !important;
}
h1{
  text-align: center;
}
.box{
  position:relative;
}

.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 30%;
  letter-spacing: 3px;
}
.textSlika{
  font-size: 30px;
  font-weight: bolder;
  color:#F8CE46;
}